<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Instawork Fall Intership 2022{% endblock %}</title>
  <meta charset="utf-8"name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <main>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>

    {% block content %}
    {% endblock %}
  </main>
</body>
</html>